<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button v-if="seen">
    {{message}}
    </button>

    <h1 v-for="(item, index) in items" :key="items.id">{{index}} : {{item.num}}</h1>
    <input type="text"v-model="additem" >
    <button type="submit" @click="Additem" >submit</button>
  </div>

  <script src="./js/main.js"></script>


</body>
</html>